body { background: #ce00e5; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 36px; display: flex; }
.block-metrics-0 { color: #dae585; font-size: 18px; margin-bottom: 5px; }
.block-filter-1 { color: #6fe23d; font-size: 19px; margin-bottom: 5px; }
.block-payment-2 { color: #4b4dae; font-size: 13px; margin-bottom: 5px; }
.block-database-3 { color: #f753b4; font-size: 17px; margin-bottom: 5px; }
.block-search-4 { color: #6d3e0f; font-size: 20px; margin-bottom: 5px; }